/*
 * SPDX-FileCopyrightText: 2025 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */
.badge {
	vertical-align: middle;
	display: inline-flex;
	border-radius: 3.125rem;
}
