.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: var(--padding-size-medium) 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--color-gray6-regular);
}

.title {
  flex: 1;
  min-width: 0;
  min-height: 35px;
}

.buttons {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--padding-size-large) 1.5rem;
  box-sizing: border-box;
}
