/*
 * SPDX-FileCopyrightText: 2021 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.value {
  display: block;
  flex: 1 1 auto;
  min-width: 0;
  background: transparent !important;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.5;
  padding: 0;
}

.label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-regular);
}

.outerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.fieldWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  justify-content: space-between;
  flex-shrink: 0;
  align-self: stretch;
  cursor: text;
  background: var(--text-container-bg);
  transition: background 0.2s ease-out;
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 0 0.75rem 0 0;
  gap: 0.5rem;
}
