/*
 * SPDX-FileCopyrightText: 2021 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.iconWrapper {
	display: flex;
	align-items: center;
	line-height: 0;
	align-self: center;
	pointer-events: none;
}
