hoist=true
hoist-pattern[]=*eslint*
hoist-pattern[]=*typescript*
hoist-pattern[]=*prettier*
hoist-pattern[]=*styled-components*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*prettier*20
public-hoist-pattern[]=*styled-components*
shamefully-hoist=true  # This can help with type resolution
public-hoist-pattern[]=turbo
dedupe-peer-dependents=true
//registry.npmjs.org/:_authToken=
