/*
 * SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.bannerContainer {
  border-bottom: 0.0625rem solid #f7a538;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.625rem;
  border-radius: 0.125rem 0.125rem 0 0;
}
