/*
 * SPDX-FileCopyrightText: 2026 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.breadcrumb {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: baseline;
	width: 100%;
	height: fit-content;
}

.bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background: var(--color-gray5-regular, var(--color-gray5));
	padding: 0 var(--padding-size-large);
	width: 100%;
	height: 44px;
	box-sizing: border-box;
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
	box-sizing: border-box;
}

.list {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.label::part(text) {
	color: var(--color-gray0-disabled);
	border: 2px solid transparent;
	border-radius: 4px;
}

.label:hover::part(text) {
	color: var(--color-primary-regular);
	text-decoration: underline;
}

.label:focus-visible {
	outline: none;
}

.label:focus-visible::part(text) {
	border-color: var(--color-primary-regular);
}

.labelCurrent::part(text) {
	color: var(--color-gray0-regular);
}

.separator {
	width: fit-content;
	height: fit-content;
	padding: 0 var(--padding-size-extrasmall);
}

.separator ds-text::part(text) {
	color: var(--color-gray0-disabled);
}

.caret {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.125rem;
	box-sizing: border-box;
	height: 2.75rem;
	padding: 0 var(--padding-size-medium);
	margin-left: var(--padding-size-extrasmall);
	border-radius: 0.5rem;
	border: 0.0625rem solid var(--color-gray3-regular);
	background: var(--color-gray5-regular);
	cursor: pointer;
}

.lastAccess {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	width: 50%;
	height: 100%;
	padding: 0 var(--padding-size-small) 0 0;
	margin-left: auto;
	box-sizing: border-box;
}
