.scrollingContainer {
  position: sticky;
  background: linear-gradient(to top, var(--color-gray6-regular) 0%, transparent 100%);
  bottom: 0;
}

.innerRow {
  display: flex;
  padding-top: var(--padding-size-large);
  width: 100%;
}

.textPadding {
  padding-left: var(--padding-size-small);
}
