/*
 * SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.editor-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.editor-wrapper .tox-edit-area iframe {
  background: var(--color-gray5-regular);
}
