.overlayStyle {
  position: fixed;
  width: 70.35rem;
  top: 6.5rem;
  right: 0;
  bottom: 0;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  background: #0d0d0d;
  opacity: 0.4;
  z-index: 11;
  padding-top: 2rem;
}
