/*
 * SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.selectItem {
}

.customIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.ovelayStyle {
  width: 20rem;
  right: 0;
  bottom: 0;
  height: 8rem;
  overflow: hidden;
  background: #0d0d0d;
  opacity: 0.4;
  z-index: 11;
}
