/*
 * SPDX-FileCopyrightText: 2026 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.wrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scrollableContent {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  width: calc(100% - 4.5rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 2rem 1.5rem 2.5rem;
}

.innerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
